@import "tailwindcss";

:root{
    --primary: #FFFFE4,
    --secondary: #E8C1EE,
}

html{
  scrollbar-width: none;    
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;    
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}